.container{
  /*width:70vw;
  height: 50vh;*/
  /*width:1000px;*/
  height: 500px;
  /*background-color: orange;*/
  margin:auto;
  padding:0% 1% 0% 1%;
  overflow: hidden;
  border: 15px solid;
  box-sizing:border-box;
}
p{
  float:left;
  margin-right: 15px;
}
.pixel{
  width:10px;
  height:10px;
  float:left;
  background-color: white;
  border: 1px solid gray;
}
.pal{
  width:60vw;
  height: 5vh;
  /*background-color: yellow;*/
  margin:auto;
}
.pc{
  width: 15px;
  height: 15px;
  /*padding:5%;*/
  margin-right: 5px;
  float: left;
  border-radius: 50%;
}
