.container{
  width:50vw;
  height: 50vh;
  background-color: orange;
  margin:auto;
  padding:5%;
}
.pixel{
  width:5px;
  height:5px;
  float:left;
  background-color: white;
  border: 1px solid gray;
}
.pal{
  width:50vw;
  height: 5vh;
  background-color: yellow;
  margin:auto;
  padding:5%;
}
#one{
  background-color: red;
}
#two{
  background-color: blue;
}
.pc{
  width:5px;
  height: 5px;
  padding:5%;
  margin-right: 5px;
  float: left;
  border-radius: 50%;
}
